.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 100% !important;
    position: relative;
    box-sizing: border-box;
}

.container {
    border-radius: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden !important;
    outline: 0;
    width: 500px;
    height: 250px;
    min-height: inherit;
    max-height: inherit;
}

.mat-dialog-content {
    min-height: 35vh;
}