@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


label {
  color: #262b31 !important;
  font-family: inherit;
  font-weight: bold;
}

.area_botao {
  border-top: 1px solid #EEF2F6 !important;
  padding-top: 10px;
}

.break-line {
  white-space: pre-wrap;
}

.header {
  color: #FFFFFF;
}

.header mat-icon {
  margin-top: 13px;
}

.mat-dialog-footer {
  position: absolute;
  height: 52px;
  text-align: right;
  background: #8F9FAC;
  padding: 8px;
  padding-right: 36px;
  width: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 400px !important;
}

.ck-placeholder {
  display: none;
}

.ck-editor__editable_inline {
  width: 400px;
}

.ck-editor__editable {
  width: 500px;
}

.mat-label {
  font-weight: bold;
}

.tab-icon {
  margin-right: 8px;
}

.conteudo_tab {
  margin-top: 25px;
}


.btn {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: #D3EAFD;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  margin-left: 12px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #D3EAFD;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #D3EAFD;
  font-size: 18px;
  font-weight: 100;
}

.menu-icon {
  border: 0px;
}


.itemMenu {
  display: flex;
  align-content: center;
}

.iconeMenu {
  display: flex;
  align-self: center;
  color: #f07b11;
}

.tamanhoIcone {
  width: 23px;
  height: 20px;
  padding-left: 2px;
}

.fixed-right {
  position: fixed;
  right: 3%;
  margin-right: 20px;
}

.example-margin {
  margin: 0 12px;
}

.mat-optgroup {
  width: 2000px !important;
  background-color: red !important;
  font-size: 10px !important;
}