@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.dropdown-menu {
  left: 35px !important;
  margin-left: auto;
  position: fixed !important;
  top: 64px !important;
  width: 95vw;
  padding-top: 35px;
  padding-left: 50px !important;
  padding-bottom: 22px;
}


.submenuItem{
  display: block;
  color: #2A3A54;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.submenuItemDescricao {
  font-size: 12px;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 100%!important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}


.dropdown-menu a .d-flex {
  transition: all 0.5s;
}
.dropdown-menu .col-sm-6:nth-child(1) a:mouseover .d-flex {
  background-color: var(--bs-warning-bg-subtle);
}
.dropdown-menu .col-sm-6:nth-child(2) a:mouseover .d-flex {
  background-color: var(--bs-danger-bg-subtle);
}
.dropdown-menu .col-sm-6:nth-child(3) a:mouseover .d-flex {
  background-color: var(--bs-success-bg-subtle);
}
.dropdown-menu .col-sm-6:nth-child(4) a:mouseover .d-flex {
  background-color: var(--bs-secondary-bg-subtle);
}
.dropdown-menu .col-sm-6:nth-child(5) a:mouseover .d-flex {
  background-color: var(--bs-tertiary-bg);
}
.dropdown-menu .col-sm-6:nth-child(6) a:mouseover .d-flex {
  background-color: var(--bs-info-bg-subtle);
}
.nav-link {
  padding: 0px 30px 0px 10px !important;
  color: #2A3A54;
  font-size: 20px;
  font-weight: 500;
  font: 600 0.875rem / 1.37 "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
  padding: 12px 0;
}

.nav-link:hover {
  color: #A9C92F!important;
}

@media only screen and (min-width: 992px) {
 
  .dropdown:mouseover .dropdown-menu {
    display: flex;
  }
  .dropdown-menu.show {
    display: flex;
  }
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 100%!important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
}

nav {
  text-align: left;
}

.row .mega-links li{
  padding: 8px 15px;
}
.row .mega-links li a{
  padding: 0px;
}

.submenu__links {
  display: grid;
  column-gap: 6rem;
  row-gap: 0.8rem;
}

header{
  font-weight: bold;
  color: #2A3A54;
}

/*

.dropdown-menu {
  margin-top: 17px!important;
  width: 90vw;
  margin-left: auto;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 9999999999;
  background: #fafafa;
  border-radius:  0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  margin-left: auto;
  position: fixed;
  top: 31px;
}

header{
  font-size: 19px;
  color: #2A3A54;
}

.submenuItem{
  display: block;
  color: #2A3A54;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.submenuItemDescricao {
  font-size: 12px;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 100%!important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
}

nav {
  text-align: left;
}

.row .mega-links li{
  padding: 8px 15px;
}
.row .mega-links li a{
  padding: 0px;
}
*/