<div class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav mega-links">
            <!--
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        -->
            <li class="nav-item dropdown" *ngFor="let data of dataSource; let iMenu = index;">
                @if (data.link) {
                <a class="nav-link dropdown-toggle" (click)="abrirConteudo(data.link, $event)" routerLinkActive="active"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ data.titulo }}
                    <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 10px;"
                        *ngIf="data.submenus.length > 0"></i>
                </a>
                } @else {
                <a class="nav-link dropdown-toggle" (click)="abrirConteudo('', $event)" routerLinkActive="active"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ data.titulo }}
                    <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 10px;"
                        *ngIf="data.submenus.length > 0"></i>
                </a>
                }

                <div class="dropdown-menu px-3 border-0 shadow" *ngIf="data.submenus.length > 0">
                    <div *ngFor="let submenu of data.submenus; let iSubmenu = index"
                        style="width: 50%; padding-right: 35px;">
                        <header *ngIf="submenu.submenuItens.length > 0">{{ submenu.titulo }}</header>
                        <hr style="width: 90%;" *ngIf="submenu.submenuItens.length > 0">

                        <a (click)="abrirConteudo(submenu.link, $event)" routerLinkActive="active"  *ngIf="submenu.submenuItens.length <= 0">
                            <div class="d-flex align-items-center py-3 px-1 rounded-3">
                                <div class="">
                                    <div class="submenuItem"><img _ngcontent-ng-c3501793233=""
                                            src="/assets/site-layout/images/seta.png"
                                            style="width: 22px; padding-right: 10px;"><b>{{ submenu.titulo
                                            }}</b></div>
                                    <div class="submenuItemDescricao">{{ submenu.descricao }}</div>
                                </div>
                            </div>
                        </a>

                        <div class="" *ngFor="let submenuItem of submenu.submenuItens; let iSubmenuItem = index;"
                            style="padding-left: 10px;">
                            <a (click)="abrirConteudo(submenuItem.link, $event)" routerLinkActive="active">
                                <div class="d-flex align-items-center py-3 px-1 rounded-3">
                                    <div class="">
                                        <div class="submenuItem">
                                            <img  src="/assets/site-layout/images/seta.png" style="width: 22px; padding-right: 10px;">
                                            <b>{{ submenuItem.titulo }}</b>
                                        </div>
                                        <div class="submenuItemDescricao">{{ submenuItem.descricao }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </li>
            <li *ngIf="!usuarioLogado" class="nav-item">
                
                <a class="nav-link blink-soft visit-my-blog" [routerLink]="['/auth/login']">
                    <mat-icon aria-hidden="false" fontIcon="login"></mat-icon> 
                    <span style="top: 18px !important; position: fixed; margin-left: 5px;">Área do Cliente</span>
                </a>
                <div class="contact"></div>
            </li>
        </ul>
        <!--
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    -->
    </div>

</div>