<body>
    <div style="min-height: 100%;">
        <!-- Navbar start -->
        <div *ngIf="loading" class="overlay">
            <img src="/assets/site-layout/images/logos/logo_animado.gif" alt="">
            <br>
            <div class="carregando-texto">Carregando...</div>
        </div>

        <div class="container-fluid sticky-top px-0" style="top: -20px;">
            <div class="container-fluid bg-light menu-principal">
                
                <div class="container px-0">
                    <nav class="navbar navbar-light navbar-expand-xl">
                        <a href="{{ environment.urlSite }}" class="navbar-brand mt-3">
                            <p class="text-primary display-6 mb-2" style="line-height: 0;">
                                <img src="/assets/site-layout/images/logos/logo_transparente.png" class="img-logo">
                            </p>
                        </a>

                        <app-menu-principal></app-menu-principal>
                        
                        <button (click)="mostra_telefone()" class="btn {{ !isHamburguer ? 'focus' : ''}}"
                            id="button-telefone">
                            <mat-icon id="mat-icon-phone" style="font-size: 32px;
                        color: #2A3A54;
                        position: absolute;
                        top: 6px;
                        left: 0px;">call_quality</mat-icon>
                            <div class="icon-bar-telefone" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
                            <div class="icon-bar-telefone" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
                            <div class="icon-bar-telefone" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'">
                            </div>
                        </button>

                        <button (click)="mostra_menu()" class="btn-menu  {{ !isHamburguer_menu ? 'focus' : ''}}"
                            id="button-menu">
                            <div class="icon-bar" [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'topX'"></div>
                            <div class="icon-bar" [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'hide'"></div>
                            <div class="icon-bar" [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'bottomX'"></div>
                        </button>
                        <div class="content-menu {{ !isHamburguer_menu ? 'show' : ''}}">
                            <div class="flex-menu">
                                <nav>
                                    <ul id="links" class="navigation-menu">
                                        <li> <a href="index.html" class="nav-item nav-link active">Menu Um</a></li>
                                        <li><a href="detail-page.html" class="nav-item nav-link">Menu Dois</a></li>
                                        <li>
                                            <div class="nav-item dropdown">
                                                <a href="#" class="nav-link dropdown-toggle"
                                                    data-bs-toggle="dropdown">Menu
                                                    Quatro</a>
                                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                                    <a href="#" class="dropdown-item">Dropdown 1</a>
                                                    <a href="#" class="dropdown-item">Dropdown 2</a>
                                                    <a href="#" class="dropdown-item">Dropdown 3</a>
                                                    <a href="#" class="dropdown-item">Dropdown 4</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="404.html" class="nav-item nav-link">Menu Três</a></li>
                                        <li><a href="contact.html" class="nav-item nav-link">Contato</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="content-menu-phone {{ !isHamburguer ? 'show' : ''}}">
                            <div class="flex-menu flex-menu-phone">
                                <nav>
                                    <ul id="links" class="navigation-menu">
                                        <li> <a href="index.html" class="nav-item nav-link active">TELEFONE Um</a></li>
                                        <li><a href="detail-page.html" class="nav-item nav-link">TELEFONE Dois</a></li>
                                        <li><a href="404.html" class="nav-item nav-link">TELEFONE Três</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid topbar bg-dark d-lg-block submenu-geral">
                <div class="container px-0">
                    <div class="topbar-top d-flex justify-content-between flex-lg-wrap" style=" float: right;">
                        <div class="top-info flex-grow-0 menu-superior">
                            <a href="index.html" class="menu-superior-item">Cursos</a>
                            <a href="detail-page.html" class="menu-superior-item">Videoaulas</a>
                            <a href="detail-page.html" class="menu-superior-item">Tutorial</a>
                        </div>
                        <div>
                            <div class="top-info flex-grow-0 menu-superior-botao">
                                <button class="btn-icon" style="margin-top: 9px;" *ngIf="!usuarioLogado"><i
                                        class="fa fa-credit-card"></i> Compre
                                    Agora!</button>
                                <button class="btn-icon" style="margin-top: 9px;" *ngIf="!usuarioLogado"><i
                                        class="fa fa-info-circle"></i> Teste
                                    Grátis</button>

                            </div>
                        </div>
                        <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0 circle-button">
                            <!--
                            <button *ngIf="!usuarioLogado" style="color: #2A3A54;"
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto btn-entrar"
                                data-bs-toggle="modal" data-bs-target="#searchModal"></button>
                            <button
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto"
                                data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                    class="fas fa-search text-primary"></i></button>
-->
                            <button *ngIf="usuarioLogado"  style="color: #2A3A54;" [routerLink]="['/admin']"
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto"><i class="fa fa-cogs"
                                    aria-hidden="true"></i></button>

                            <button  style="color: #2A3A54;"
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto"
                                *ngIf="usuarioLogado" mat-icon-button [matMenuTriggerFor]="menu"><i
                                    class="fa fa-user-circle text-primary"></i></button>

                            <mat-menu #menu="matMenu" style="margin-top: 20px;padding: 15px; min-width: 300px;">
                                <div class="">
                                    <div class="">
                                        <h4 class="small" style="font-size: 16px;"> <span class=" text-muted"
                                                style="font-weight: bold;"> {{usuarioLogado?.nome}}</span> </h4>
                                        <span class="text-muted">{{usuarioLogado?.papel}}</span>
                                        <hr />
                                        <ng-scrollbar style="height: 140px;" visibility="hover">
                                            <button mat-menu-item [routerLink]="['/admin/usuarios']"
                                                [queryParams]="{u: usuarioLogado?.id}" class="dropdown-item">
                                                <i class="ti ti-settings"></i>
                                                <span>Minha Conta</span>
                                            </button>
                                            <hr />
                                            <button mat-menu-item [routerLink]="['/auth/logout']" class="dropdown-item">
                                                <i class="ti ti-logout"></i>
                                                <span>Sair</span>
                                            </button>
                                        </ng-scrollbar>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>
                        <div  class="d-flex flex-nowrap border-top pt-3 pt-xl-0">
                            <div class="contato" data-modal="contato">
                                <p class="font-body3 contato-texto">CONSULTORIA</p>
                                <p class="font-body3 contato-numero"><a href="tel:40048080" style="color: #FFFFFF!important;"
                                        class="title-contato-number">(31)3327-8413</a></p>
                            </div>

                            <div class="contato" data-modal="contato">
                                <p class="font-body3 contato-texto">GERAL</p>
                                <p class="font-body3 contato-numero"><a href="tel:40048080" style="color: #FFFFFF!important;"
                                        class="title-contato-number">
                                        (31)3327-8410</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid topbar bg-green d-lg-block submenu-geral-baixo">
                <div class="container px-0 botoes">
                    <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                        <div class="top-info flex-grow-0" class="menu-superior-botao-mobile">
                            <button class="button" style=" background-color: #289EBB; " *ngIf="!usuarioLogado">Compre
                                Agora!</button>
                            <button class="button" style="margin-left: 4px; background-color: #289EBB;"
                                *ngIf="!usuarioLogado">Teste
                                Grátis</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--
        <div class="container-fluid topbar-fundo">
            <div class="container px-0 topbar-fundo-container">
                <div class="topbar-top d-flex justify-content-between flex-lg-wrap topbar-fundo-texto">
                    <div class="div-text-rml">
                        "Eu sou Romilda Alves, especialista e consultora de ICMS, ISS E IPI há 27 anos.

                        Estou aqui para esclarecer as suas dúvidas, por telefone, whatsapp, aulas ao vivo e
                        videoaulas, sobre:
                        <ul style="font-size: 14px; text-align: left; padding-top: 10px; padding-left: 180px;">
                            <li>ICMS de todos Estados</li>
                            <li>ISS de todas as capitais</li>
                            <li>IPI"</li>
                        </ul>
                    </div>
                    <div class="div-img-rml">
                        <img src="/assets/site-layout/images/romilda.png" class="img-rml" id="img_rmld">
                    </div>
                    <div class="div-text-direito">
                        PLANOS IMPERDÍVEIS PARA VOCÊ TER
                        ACESSO ILIMITADO À CONSULTORIA POR TELEFONE/WHATSAPP E
                        ACESSO ILIMITADO ÀS CALCULADORAS DO ICMS ST E DIFAL COM GERAÇÃO DE RELATÓRIOS.
                        <br>
                        <div style="width: 100%; text-align: right; padding-top: 10px;">Assine Agora</div>
                    </div>
                </div>
                <div class="topbar-top d-flex justify-content-between flex-lg-wrap topbar-fundo-transparente"></div>
            </div>
        </div>
    -->
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="Buscar Por"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Search End -->
        <!--
    <div class="container-fluid mobile-submenu ">
        <div class="" style="">
            <div class="col-lg-12 col-xl-12 mt-0">
                <div class="top-info flex-grow-0 top-info-buttons">
                    <a href="https://iob.com.br/iob-online/#planos" target="_blank"
                        class="button bg-primary font-button">Compre Agora!</a>
                    <a href="https://iob.com.br/iob-online/#planos" target="_blank"
                        class="button bg-primary font-button">Teste Grátis</a>
                    <a href="https://iob.com.br/iob-online/#planos" target="_blank"
                        class="button bg-primary font-button top-info-buttons-acesso">Acesse <br>Sua Área</a>
                </div>
            </div>
        </div>
    </div>
-->

        <router-outlet></router-outlet>
        <!--
    ///CONTEUDO AQUI
-->

        <!-- Footer Start -->
        <!--
    <div class="container-fluid bg-dark footer py-5">
        <div class="container py-5">

            <div class="row g-5">
                <div class="col-lg-12 col-xl-3">
                    <div class="footer-item-1">
                       
                        <h4 class="mb-4 text-white">Get In Touch</h4>
                        <p class="text-secondary line-h">Address: <span class="text-white">123 Streat, New York</span>
                        </p>
                        <p class="text-secondary line-h">Email: <span class="text-white">Example&#64;gmail.com</span>
                        </p>
                        <p class="text-secondary line-h">Phone: <span class="text-white">+0123 4567 8910</span></p>
                        <div class="d-flex line-h">
                            <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-twitter text-dark"></i></a>
                            <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-facebook-f text-dark"></i></a>
                            <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-youtube text-dark"></i></a>
                            <a class="btn btn-light btn-md-square rounded-circle" href=""><i
                                    class="fab fa-linkedin-in text-dark"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="footer-item-2">
                        <div class="d-flex flex-column mb-4">
                            <h4 class="mb-4 text-white">Recent Posts</h4>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                        <img src="/assets/site-layout/assets/img/footer-1.jpg"
                                            class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <div class="d-flex flex-column ps-4">
                                        <p class="text-uppercase text-white mb-3">Life Style</p>
                                        <a href="#" class="h6 text-white">
                                            Get the best speak market, news.
                                        </a>
                                        <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec
                                            9, 2024</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                        <img src="/assets/site-layout/assets/img/footer-2.jpg"
                                            class="img-zoominimg-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <div class="d-flex flex-column ps-4">
                                        <p class="text-uppercase text-white mb-3">Sports</p>
                                        <a href="#" class="h6 text-white">
                                            Get the best speak market, news.
                                        </a>
                                        <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec
                                            9, 2024</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="d-flex flex-column text-start footer-item-3">
                        <h4 class="mb-4 text-white">Categories</h4>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Sports</a>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Magazine</a>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Lifestyle</a>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Politician</a>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Technology</a>
                        <a class="btn-link text-white" href=""><i class="fas fa-angle-right text-white me-2"></i>
                            Intertainment</a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="footer-item-4">
                        <h4 class="mb-4 text-white">Our Gallary</h4>
                        <div class="row g-2">
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-1.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-2.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-3.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-4.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-5.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded overflow-hidden">
                                    <img src="/assets/site-layout/assets/img/footer-6.jpg"
                                        class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        -->
        <!-- Footer End -->

    </div>
    <!-- Copyright Start -->
    <footer>
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(255, 255, 255, 0.08);">
                        <img src="/assets/site-layout/images/logos/logo_fundo_escuro.png" style="width: 352px;
                    left: -19px;
                    position: relative;
                    top: -25px;">
                    </div>
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#" style="color:#ccc"><i
                                    class="fas fa-copyright text-light me-2"></i> 2025 FISCAL 3. Todos os direitos
                                reservados.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright End -->


    <!-- Back to Top 
    <a class="btn-primary border-2 border-white rounded-circle back-to-top"><i
            class="fa fa-arrow-up"></i></a>

-->
</body>