<body>
    <div style="min-height: 100%;">
        <!-- Navbar start -->
        <div *ngIf="loading" class="overlay">
            <img src="/assets/site-layout/images/logos/logo_animado.gif" alt="">
            <br>
            <div class="carregando-texto">Carregando...</div>
        </div>

        <div class="container-fluid sticky-top px-0 contaner-fluiid-principal">
            <div class="container-fluid bg-light menu-principal">

                <div class="container px-0">
                    <nav class="navbar navbar-light navbar-expand-xl">
                        <a href="{{ environment.urlSite }}" class="navbar-brand mt-3">
                            <p class="text-primary display-6 mb-2" style="line-height: 0;">
                                <img src="/assets/site-layout/images/logos/logo_transparente.png" class="img-logo">
                            </p>
                        </a>

                        <app-menu-principal></app-menu-principal>

                        <header class="page-header">
                            <nav>
                                <div class="header-bar">
                                    <div style="width: 84px; top: 5px; position: relative;">
                                        <button (click)="mostra_menu()"
                                            class="toggle-menu btn-menu  {{ !isHamburguer_menu ? 'focus' : ''}}"
                                            id="button-menu" id="button-menu">
                                            <div class="icon-bar"
                                                [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'topX'"></div>
                                            <div class="icon-bar"
                                                [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'hide'"></div>
                                            <div class="icon-bar"
                                                [@hamburguerX]="isHamburguer_menu ? 'hamburguer' : 'bottomX'"></div>
                                        </button>
                                    </div>
                                    <div style="left: -25px; position: relative;">
                                        <img _ngcontent-ng-c1660747229=""
                                            src="https://fiscal3.rnldo.com.br/assets/site-layout/images/logos/logo_transparente.png"
                                            class="img-logo">
                                    </div>
                                    <div>
                                        <button (click)="mostra_telefone()" class="btn mat-icon-phone"
                                            id="button-telefone" style="top: 20px; position: fixed; right: 28px;">
                                            <mat-icon class="mat-icon-phone"
                                                style="font-size: 32px; color: #2A3A54;">call_quality</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="menu-wrapper">
                                    <div class="list-wrapper">
                                        <ul class="menu level-1">
                                            <li class="nested separador">
                                                <a href="">Categories </a>
                                                <ul class="sub-menu level-2">
                                                    <li class="nested separador">
                                                        <a href="">Living Room </a>
                                                        <ul class="sub-menu level-3">
                                                            <li class="separador">
                                                                <a href="">Oracle 1</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Host 00</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Tiny 12</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Bright 39</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Exclusion 229</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Dining Room</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Bedroom</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Lighting</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Outdoor</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Office</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nested separador">
                                                <a href="">Featured Products</a>
                                                <ul class="sub-menu level-2">
                                                    <li class="separador">
                                                        <a href="">Sofa 1</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Chair 11</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Train 21</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Clumb 52</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Geo 29</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Star</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nested separador">
                                                <a href="">Company</a>
                                                <ul class="sub-menu level-2">
                                                    <li class="separador">
                                                        <a href="">History</a>
                                                    </li>
                                                    <li class="separador">
                                                        <a href="">Team</a>
                                                    </li>
                                                    <li class="nested separador">
                                                        <a href="">Careers</a>
                                                        <ul class="sub-menu level-3">
                                                            <li class="separador">
                                                                <a href="">Sales Assistant</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Graphic Designer</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Marketing Specialist</a>
                                                            </li>
                                                            <li class="separador">
                                                                <a href="">Storekeeper</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="separador">
                                                <a href="">Clients</a>
                                            </li>
                                            <li class="separador">
                                                <a href="">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list-wrapper">
                                        <button type="button" class="back-one-level">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                                            </svg>
                                            <span class="menu-mobile-titulo">Back</span>
                                        </button>
                                        <div class="sub-menu-wrapper"></div>
                                    </div>
                                    <div class="list-wrapper">
                                        <button type="button" class="back-one-level">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                                            </svg>
                                            <span class="menu-mobile-titulo">Back</span>
                                        </button>
                                        <div class="sub-menu-wrapper"></div>
                                    </div>
                                </div>
                            </nav>
                        </header>

                        <div class="content-menu-phone {{ mostrar_telefone }}" id="content-menu-phone">
                            <div style="float: right; background: #efefef; width: 100%;">
                                <div mat-dialog-actions style="float: right;">
                                    <button mat-button mat-dialog-close="true" color="success"
                                        (click)="mostra_telefone()" cdkFocusInitial><mat-icon>close</mat-icon></button>
                                </div>
                            </div>
                            <div class="flex-menu-phone">
                                <div
                                    style="width: 39vw; border-bottom: 1px solid #2A3A54; border-top: 1px solid #A9C92F; position: relative; top: 117px;">
                                </div>
                                <div
                                    style="    position: relative; width: 60vw; left: 43vw; top: 58px; font-size: 27px;">
                                    <img src="/assets/site-layout/images/headphones-with-mic.png" style="width: 54px;">
                                </div>
                                <div
                                    style="width: 40vw; border-bottom: 1px solid #2A3A54; border-top: 1px solid #A9C92F; position: relative; top: 23px; float: right;">
                                </div>
                                <nav style="text-align: center; font-size: 16px; width: 100vw; padding-top: 90px;">
                                    <ul>
                                        <li style="padding-top: 26px;">
                                            <div class="font-body3 contato-texto">CONSULTORIA</div>
                                            <div>
                                                <a href="tel:3133278413" class="font-body3 contato-numero"
                                                    style="width: 21px; color: #2A3A54; text-decoration: overline;">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </a>
                                                (31)3327-8413
                                                <a target="_blank"
                                                    href="https://api.whatsapp.com/send?phone=553133278413&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20Fiscal%203"
                                                    class="font-body3 contato-numero"
                                                    style="width: 21px; color: #2A3A54; text-decoration: overline;">
                                                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li style="padding-top: 26px;">
                                            <div class="font-body3 contato-texto">GERAL</div>
                                            <div>
                                                <a href="tel:+553133278410" class="font-body3 contato-numero"
                                                    style="width: 21px; color: #2A3A54; text-decoration: overline;">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </a>
                                                (31)3327-8410
                                                <a target="_blank"
                                                    href="https://api.whatsapp.com/send?phone=553133278410&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20Fiscal%203"
                                                    class="font-body3 contato-numero"
                                                    style="width: 21px; color: #2A3A54; text-decoration: overline;">
                                                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid topbar bg-dark d-lg-block submenu-geral">
                <div class="container px-0">
                    <div class="topbar-top d-flex justify-content-between flex-lg-wrap"
                        style=" float: right; top: 6px; position: relative;">
                        <div class="top-info flex-grow-0 menu-superior">
                            <a href="index.html" class="menu-superior-item">Cursos</a>
                            <a href="detail-page.html" class="menu-superior-item">Videoaulas</a>
                            <a href="detail-page.html" class="menu-superior-item">Tutorial</a>
                        </div>
                        <div style="top: 5px; position: relative;">
                            <div class="top-info flex-grow-0 menu-superior-botao">
                                <button class="btn-icon" style="margin-top: 1px;" *ngIf="!usuarioLogado"><i
                                        class="fa fa-credit-card"></i> Compre
                                    Agora!</button>
                                <button class="btn-icon" style="margin-top: 1px;" *ngIf="!usuarioLogado"><i
                                        class="fa fa-info-circle"></i> Teste
                                    Grátis</button>
                            </div>
                        </div>
                        <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0">
                            <div class="contato" data-modal="contato">
                                <p class="font-body3 contato-texto" style="margin: 0px;">CONSULTORIA</p>
                                <p class="font-body3 contato-numero">
                                    <span style="padding-right: 6px;"> <i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                    <span style="padding-right: 6px;"> <i class="fab fa-whatsapp"
                                            aria-hidden="true"></i> </span>
                                    <a href="tel:3133278413" style="color: #FFFFFF!important;"
                                        class="title-contato-number">(31)3327-8413</a>
                                </p>
                            </div>

                            <div class="contato" data-modal="contato">
                                <p class="font-body3 contato-texto" style="margin: 0px;">GERAL</p>
                                <p class="font-body3 contato-numero">
                                    <span style="padding-right: 6px;"> <i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                    <span style="padding-right: 6px;"> <i class="fab fa-whatsapp"
                                            aria-hidden="true"></i> </span>
                                    <a href="tel:3133278413" style="color: #FFFFFF!important;"
                                        class="title-contato-number">(31)3327-8410</a>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0 circle-button">
                            <button *ngIf="usuarioLogado" style="color: #2A3A54;"
                                (click)="abrirRouteInNovaAba('/admin')"
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto"><i
                                    class="fa fa-cogs" aria-hidden="true"></i></button>

                            <button style="color: #2A3A54;"
                                class="btn-search border border-primary btn-md-square rounded-circle bg-white my-auto"
                                *ngIf="usuarioLogado" mat-icon-button [matMenuTriggerFor]="menu"
                                #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()"><i
                                    class="fa fa-user-circle text-primary"></i></button>

                            <mat-menu #menu="matMenu" [overlapTrigger]="false" panelClass="custom-menu-panel">
                                <span>
                                    <h4 class="small" style="font-size: 16px;"> <span class=" text-muted"
                                            style="font-weight: bold; text-decoration: underline">
                                            {{usuarioLogado?.nome}}</span> </h4>
                                    <span class="text-muted papel-desc">{{usuarioLogado?.papel}}</span>
                                    <hr width="265px" />
                                    <button mat-menu-item
                                        (click)="abrirRouteInNovaAba('/admin/usuarios', '?u=' + usuarioLogado?.id)">
                                        <mat-icon>account_circle</mat-icon>
                                        <span>Minha Conta</span>
                                    </button>
                                    <button mat-menu-item [routerLink]="['/auth/logout']">
                                        <mat-icon>exit_to_app</mat-icon>
                                        <span>Sair</span>
                                    </button>
                                </span>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid topbar bg-green d-lg-block submenu-geral-baixo">
                <div class="container px-0 botoes">
                    <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                        <div class="top-info flex-grow-0" class="menu-superior-botao-mobile">
                            <button class="button" style=" background-color: #2A3A54; width: 100px; height: 46px;"
                                *ngIf="!usuarioLogado">Compre<br>Agora!</button>
                            <button class="button" style="margin-left: 4px; background-color: #2A3A54; width: 100px; height: 46px;"
                                *ngIf="!usuarioLogado">Teste<br>Grátis</button>
                            <button class="button"  [routerLink]="['/auth/login']"
                                style="background-color: #2A3A54; float: right; position: relative; margin-left: 30px; width: 100px; height: 46px;"
                                *ngIf="!usuarioLogado"> Área do Cliente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="Buscar Por"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
    <!-- Copyright Start -->
    <footer>
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(255, 255, 255, 0.08);">
                        <img src="/assets/site-layout/images/logos/logo_fundo_escuro.png" style="width: 352px;
                    left: -19px;
                    position: relative;
                    top: -25px;">
                    </div>
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#" style="color:#ccc"><i
                                    class="fas fa-copyright text-light me-2"></i> 2025 FISCAL 3. Todos os direitos
                                reservados.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright End -->


    <!-- Back to Top 
    <a class="btn-primary border-2 border-white rounded-circle back-to-top"><i
            class="fa fa-arrow-up"></i></a>

-->
</body>