<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Usuários">
      <div style="width: 100%; float: right; text-align: right;">
        <button mat-button class="btn btn-three" (click)="addUsuario()">Novo Usuario</button>
      </div>
      <br><br>
      <hr>
      <mat-icon class="tab-icon" (click)="refresh_grid()" style="cursor: pointer;">rotate_right</mat-icon>
      <app-grid [source]="usuarios" [columns]="columns" [loading]="loading" [paging]="paging" [actions]="actions"
        [getValueCell]="getValueCell"></app-grid>
    </app-card>
  </div>
</div>