<div class="conteudo_actions">
    <div class="menu-icone-document" id="print-pdf" (click)="voltar()">
        <div class="icon-button">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </div>
        <h4 class="imprimir-pdf">Voltar</h4>
    </div>
    <div class="menu-icone-document" id="print-pdf" (click)="gerarPdf()">
        <div class="icon-button">
            <i class="fa fa-print" aria-hidden="true"></i>
        </div>
        <h4 class="imprimir-pdf">Imprimir</h4>
    </div>
    <div class="menu-icone-document" id="visualizar-tela-cheia" (click)="telaCheia()">
        <div class="icon-button">
            <i class="fa fa-expand" aria-hidden="true"></i>
        </div>
        <h4>Tela Cheia</h4>
    </div>
</div>

<div class="container-fluid py-5 conteudo-inicial">
    <div class="container py-5" style="margin-top: 90px;">
        <div action="?" class="" *ngIf="busca_permitida">
            <div class="search">
               <input matInput type="search" class="searchTerm" placeholder="Pesquise aqui..."  [(ngModel)]="textoBusca"  (search)="buscar()">
               <button type="submit" class="searchButton"  (click)="buscar();">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
        

        <div class="row g-4 element-to-print" id="container" id="element-to-print">
            <div class="titulo-superior">
                <div [innerHTML]="titulo"></div>
                <!--
                <h3 style="font-style: italic; margin-top: 10px;" *ngIf="ultima_atualizacao">Atualizado em {{
                    ultima_atualizacao }}</h3>
                    -->
            </div>
            <div class="complete">
                <p [innerHTML]="conteudo "></p>
            </div>
        </div>
    </div>
</div>