<!-- Features Start -->
<div class="container-fluid  py-5" style="padding-top: 0rem !important;">
    <div class="container py-5" style="padding-left: 0.25rem; padding-bottom: 0rem !important; position: static;
    margin-left: -235px;">
        <div class="row g-4">
            <div class="col-lg-1 col-xl-1 mt-0">
                
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
 <!--
<div class="div-text-direito-mobile">
    <a href="https://wa.me/message/BCKAA6WEHTY3C1"><img src="/assets/site-layout/images/banner.gif" class="img-fluid rounded img-zoomin w-100" alt=""></a>
</div>
-->
<div class="topbar-fundo">
    <div class="topbar-fundo-container container-inicial">
            <a href="https://wa.me/message/BCKAA6WEHTY3C1" target="_blank"  class="banner-inicial"></a>
    </div>
</div>

<!-- Main Post Section Start -->
<div class="container-fluid py-5 conteudo-inicial">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0" style="background: white; border: 1px solid #E9E9E9;">
                <div class="position-relative overflow-hidden rounded">
                    <mat-tab-group color="primary" backgroundColor="accent">
                        <mat-tab class="my-mat-tab" label="ICMS" aria-label="primary">
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora ICMS ST</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora MVA Ajustada</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora DIFAL</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora antecipação do
                                ICMS</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Alíquota do ICMS</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Benefícios fiscais do ICMS</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Mercadorias sujeitas ao ICMS
                                ST</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Serviço de Transporte</a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação e Regulamento do
                                ICMS</a>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="IPI">
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">TIPI – Tabela do IPI </a>
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação e Regulamento do
                                IPI</a>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="ISS">
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Alíquota do ISS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Legislação e Regulamento do
                                ISS</a>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="CBS/IBS/IS">
                            <a  (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação: CBS, IBS e IS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Pesquisa completa por Bem ou Serviço: CBS e IBS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">ClassTrib e CST-IBS/CBS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Alíquotas e Redução das Alíquotas da CBS e IBS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Benefícios fiscais</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Crédito Presumido</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Tributação Monofásica da CBS e IBS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Calculadora: CBS e IBS</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Simulações: Impactos do PLP 16/2025</a>
                            <a  (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Calculadora: ICMS, ICMS-ST, IPI, CBS e IBS não for aprovado: mercadoria para revenda ou para industrialização</a>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <hr>
                <!--
                <div class="border-bottom py-3">
                    <a href="#" class="display-7 text-dark mb-0 link-hover">Atualização</a>
                </div>
                <p class="mt-3 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley standard dummy text ever since the 1500s, when an unknown printer took a
                    galley...
                </p>
            -->
                <div class="bg-light p-4 rounded">
                    <p class="h3">Atualização </p>
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Federal</button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')">ICMS</button>
                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">ISS</button>
                    </div>

                    <div id="London" class="tabcontent">
                        <table>
                            <tbody>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="Paris" class="tabcontent">
                        <table>
                            <tbody>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="Tokyo" class="tabcontent">
                        <table>
                            <tbody>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span class="last-news-date-mobile">14/03 - 08:12</span></td>
                                    <td class="last-news-content">
                                        <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                            bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                        <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0" style="border: 1px solid #E9E9E9; padding-top: 42px!important;">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <a href="#" class="h4 mb-2" style="color: #2A3A54; font-weight: bold;">Romilda Alves
                                    Explica</a>
                                <p class="fs-5 mb-0">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Selecione um Imposto</mat-label>
                                        <mat-select [(ngModel)]="selectedValue" name="food">
                                            @for (imposto of impostos; track imposto) {
                                            <mat-option [value]="imposto.value">{{imposto.viewValue}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                                <hr>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-12">
                                    <div class="features-content d-flex flex-column">
                                        <span class="h3">REFORMA TRIBUTÁRIA</span>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">Legislação</span>
                                        </div>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">Calculadoras e simulações</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="features-content d-flex flex-column">
                                        <span class="h3">CURSOS</span>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">Telepresencial</span>
                                        </div>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">Videoaulas</span>
                                        </div>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">Presenciais</span>
                                        </div>
                                        <div aria-hidden="true" style="padding: 10px;">
                                            <img src="/assets/site-layout/images/seta.png" style="width:16px">
                                            <span style="padding-left: 15px;">In Company</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Post Section End -->