<!-- Features Start -->
<div class="container-fluid  py-5" style="padding-top: 4rem !important;">
    <div class="container py-5" style="padding-left: 0.25rem; padding-bottom: 0rem !important; position: static;
    margin-left: -235px;">
        <div class="row g-4">
            <div class="col-lg-1 col-xl-1 mt-0">

            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!--
<div class="div-text-direito-mobile">
    <a href="https://wa.me/message/BCKAA6WEHTY3C1"><img src="/assets/site-layout/images/banner.gif" class="img-fluid rounded img-zoomin w-100" alt=""></a>
</div>
-->
<div class="topbar-fundo">
    <div class="topbar-fundo-container container-inicial">
        <app-carrossel [imagens]="[
    '/assets/site-layout/images/banner-site-mobile.png',
    '/assets/site-layout/images/banner.gif',
    '/assets/site-layout/images/headphones-with-mic.png'
  ]"></app-carrossel>
        <!--
        <a href="https://wa.me/message/BCKAA6WEHTY3C1" target="_blank" class="banner-inicial"></a>
-->
    </div>
</div>

<!-- Main Post Section Start -->
<div class="container-fluid py-5 conteudo-inicial">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0" style="background: white; border: 1px solid #E9E9E9;">
                <div class="position-relative overflow-hidden rounded">
                    <mat-tab-group color="primary" backgroundColor="accent">
                        <mat-tab class="my-mat-tab" label="ICMS" aria-label="primary">
                            <div class=" ferramentas">
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora ICMS
                                    ST</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora MVA
                                    Ajustada</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora
                                    DIFAL</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Calculadora
                                    antecipação do
                                    ICMS</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Alíquota do
                                    ICMS</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Benefícios fiscais
                                    do
                                    ICMS</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Mercadorias
                                    sujeitas
                                    ao ICMS
                                    ST</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Serviço de
                                    Transporte</a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação e
                                    Regulamento do
                                    ICMS</a>
                            </div>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="IPI">
                            <div class=" ferramentas">
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">TIPI – Tabela do
                                    IPI
                                </a>
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação e
                                    Regulamento do
                                    IPI</a>
                            </div>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="ISS">
                            <div class=" ferramentas">
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Alíquota do
                                    ISS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Legislação e
                                    Regulamento do
                                    ISS</a>
                            </div>
                        </mat-tab>
                        <mat-tab class="my-mat-tab" label="CBS/IBS/IS">
                            <div class=" ferramentas">
                                <a (click)="abrirSelecaoEstado()" target="_blank" class="btn-section">Legislação: CBS,
                                    IBS e
                                    IS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Pesquisa completa
                                    por
                                    Bem ou Serviço: CBS e IBS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">ClassTrib e
                                    CST-IBS/CBS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Alíquotas e
                                    Redução
                                    das Alíquotas da CBS e IBS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Benefícios
                                    fiscais</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Crédito
                                    Presumido</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Tributação
                                    Monofásica
                                    da CBS e IBS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Calculadora: CBS
                                    e
                                    IBS</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Simulações:
                                    Impactos
                                    do PLP 16/2025</a>
                                <a (click)="abrirConteudo('1444')" target="_blank" class="btn-section">Calculadora:
                                    ICMS,
                                    ICMS-ST, IPI, CBS e IBS não for aprovado: mercadoria para revenda ou para
                                    industrialização</a>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <hr>

                <div class="bg-light p-4 rounded" style="border: 1px solid #E9E9E9; padding-top: 42px!important;">
                    <div class="row g-4">
                        <div *ngIf="isMobile">
                            <app-explica></app-explica>
                        </div>
                        <div *ngIf="!isMobile">
                            <app-atualizacao></app-atualizacao>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light p-4 rounded p-4 pt-0">
                    <div *ngIf="!isMobile">
                        <app-explica></app-explica>
                    </div>
                    <div *ngIf="isMobile">
                        <app-atualizacao></app-atualizacao>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Post Section End -->