a.btn-section {
  background-image: url(/assets/site-layout/images/seta_dentro.png);
  background-repeat: no-repeat;
  background-size: 27px;
  background-position-x: right;
  background-color: white;
  color: black;
  border: 1px solid #e3e6e9;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  width: 235px;
  height: 57px;
  font: 11px "Inter", sans-serif;
  padding: 18px;
  cursor: pointer;
}

a.btn-section:hover,
a.btn-section:active {
  background-color: white;
  color: #A9C92F;
  border: 1px solid #A9C92F;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#svg-map path {
  fill: #2A3A54
}

#svg-map text {
  fill: #fff;
  font: 12px Arial-BoldMT, sans-serif;
  cursor: pointer
}

#svg-map a {
  text-decoration: none
}

#svg-map a:hover {
  cursor: pointer;
  text-decoration: none
}

#svg-map a:hover path {
  fill: #88935d !important
}

#svg-map .circle {
  fill: #4d6489
}

#svg-map a:hover .circle {
  fill: #88935d !important;
  cursor: pointer
}

#svg-map .marcado { fill:  #A9C92F !important }
#svg-map .text-marcado { fill:  #4d6489; font-weight: bold; }

.container-mapa {
  padding-bottom: 27px;
  text-align: center;
}

::ng-deep {
  .mat-mdc-text-field-wrapper {background: #2A3A54!important;}
  .mdc-floating-label { color: #A9C92F!important; }
  .mat-mdc-select-min-line { color: #A9C92F!important; }
  .mat-mdc-select-arrow svg {
    fill: #A9C92F!important;
}
}

.svg-mapa {
  width: 550px;
  height: 400px;
}

.painel-seleciona-estado {
    width: 800px;
    max-width: 800px;
}

@media only screen and (max-width: 500px) {
  .painel-seleciona-estado {
    width: 100vw;
  }

  .svg-mapa {
    width: 90vw;
    height: 100vw;
  }
}