<div mat-dialog-title class="dialog-title">
  <h4 mat-dialog-title style="font-size: 18px!important;">Selecione o estado</h4>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
  

<mat-divider></mat-divider>
<form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
        @for (estado of estados; track estado) {
        <a (click)="selecionarEstado(estado.viewValue)" target="_blank" class="btn-section">{{ estado.value
            }}</a>
        }

    </mat-dialog-content>
</form>