<div class="container-fluid py-5 conteudo-inicial">
    <div class="container py-5">
        <div class="row g-4">
            <div id="divDocumentoIntegraproc" class="full">

                <div class="container-artigo">
                    <div class="titulo-superior">
                        <h2>
                            {{ titulo }}

                            <div class="social-share">
                                <div id="shareRoundIcons" class="round-shares">
                                    <div id="share"></div>
                                </div>
                            </div>
                        </h2>
                    </div>

                    <div class="task__list">

                        <!--
                        <button (click)="openModal()">Open PDF</button>
-->

                        <div style="padding-left: 30px;">
                            <input matInput type="search" [(ngModel)]="textoBusca" (keyup.enter)="buscar()"
                                style="width: 272px;
                                margin-right: 15px;
                                margin-bottom: 12px; border-radius: 5px;
                                border: 1px solid #A9C92F;
    height: 37px;
    position: static;" autofocus>
                                <button mat-mini-fab (click)="buscar();">
                                    <mat-icon>search</mat-icon>
                                  </button>
                        </div>
                        <div class="pagination-container" *ngIf="!carregando && getPages()?.length > 1">
                            <a class="pagination-link" *ngIf="currentPage > 1" (click)="listar(currentPage - 1)"><i
                                    class="fa fa-angle-double-left" aria-hidden="true"></i></a>

                            <a class="pagination-link" *ngFor="let page of getPages()"
                                [class.active]="currentPage === page" (click)="listar(page)">
                                {{ page }}
                            </a>

                            <a class="pagination-link" *ngIf="currentPage < totalPages"
                                (click)="listar(currentPage + 1)"><i class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>


                        <div style="
                        text-align: center;
                        position: absolute;
                        left: 50%;
                        top: 50%;" *ngIf="carregando">
                            <div style="color: #A9C92F" class="la-ball-clip-rotate-pulse la-2x">
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div *ngIf="!carregando">
                            <div class="container-list">
                                <div *ngIf="error" style="    margin-left: 40px;
                                font-style: normal;
                                font-size: 15px;">
                                   <i class="fa fa-info" aria-hidden="true"></i> {{ mensagem_erro }}
                                </div>
                                <ul class="responsive-table">
                                    <li class="table-row icon-seta" *ngFor="let item of dataSource; let i = index"
                                        [innerHTML]="item.titulo" (click)="abrirDetalhe(item.id);">
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>