<div style="">
    <!-- Controles de Paginação -->
    <div *ngIf="isLoaded" style="text-align: center; top: 28px; position: relative;">
        <ul class="pagination">
            <li><button (click)="prevPage()" [disabled]="page === 1">&laquo;</button></li>
            <select style="width: 100px; text-align: center; margin-left: 10px; margin-right: 12px;"  (change)="onSelectionChange($event)">
                @for (i of pageSizeOptions; track i) {
                    <option >{{ i }}</option>
                }
                
            </select>

            <li><button (click)="nextPage()" [disabled]="page === totalPages">&raquo;</button></li>
        </ul>
    </div>
</div>
<div
    style="width: 100%; float: right; text-align: right; margin-bottom: 17px; border-bottom: 1px solid #2A3A54;">

    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <!--
    <button mat-button class="btn btn-three" (click)="fechar()" style="padding-top: 5px;"><mat-icon
            class="tab-icon">close</mat-icon></button>
            -->
</div>

<iframe [src]="safeUrl" width="100%" height="100%" frameborder="0" *ngIf="isModal"></iframe>


<div class="pdf-viewer-container" *ngIf="!isModal">
    <div *ngIf="loadingPdf"
        style="width: 100%; float: right; text-align: center; margin-bottom: 17px; padding-top: 12px;">
        <img src="/assets/site-layout/images/logos/logo_animado.gif" alt="">
    </div>

    <div>

        <!-- Visualizador de PDF -->
        <pdf-viewer [src]="url" [page]="page" [render-text]="true" [original-size]="false"
            style="display: block; width: 100%; height: 75vh;" (after-load-complete)="afterLoadComplete($event)">
        </pdf-viewer>
    </div>

    <!--
    <div *ngIf="tipoConteudo=='pdf'"  style="overflow: hidden;">
        {{ url }}
        <ng-container *ngIf="url">
            estou aqui
            <ngx-extended-pdf-viewer [src]="url" [height]="'80vh'" [textLayer]="true" [listenToURL]="true"
                [showHandToolButton]="true">
            </ngx-extended-pdf-viewer>
        </ng-container>
        <ng-template *ngIf="!loadingPdf || errorTemplate">
            <p>Falha ao carregar o PDF. Por favor tente novamente mais tarde.</p>
        </ng-template>
    </div>
    -->
    <div *ngIf="tipoConteudo=='html'" [innerHtml]="conteudo" style="overflow: auto; padding: 20px;"></div>
</div>