<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Liberar Prova">
            <app-breadcrumb></app-breadcrumb>
            <div style="width: 100%; float: right; text-align: right;">
                <button mat-button class="btn btn-three" (click)="voltar()"><mat-icon
                        class="tab-icon">keyboard_return</mat-icon>Voltar</button>
                <button mat-button class="btn btn-three" (click)="salvar()" *ngIf="!view"><mat-icon
                        class="tab-icon">task_alt</mat-icon>Salvar</button>
            </div>
            <br><br>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-12">
                                <mat-form-field class="full-width" style="width: 95%!important;">
                                    <mat-label align="end">Descrição</mat-label>
                                    <input matInput type="text" [value]="liberacaoProvaForm.descricao"
                                        [(ngModel)]="liberacaoProvaForm.descricao" [disabled]="view">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-12">
                                <mat-form-field class="full-width" style="width: 95%!important;" *ngIf="view" >
                                    <mat-label align="end">Prova</mat-label>
                                    <input matInput type="text" [value]="titulo_prova"
                                        [disabled]="view">
                                </mat-form-field>

                                <mat-form-field class="example-full-width" style="width: 95%!important;" *ngIf="!view">
                                    <mat-label>Prova</mat-label>
                                    <input type="text" matInput [formControl]="formControlProva"
                                        [(ngModel)]="liberacaoProvaForm.data_prova" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        @for (option of filteredOptions | async; track option) {
                                        <mat-option [value]="option">
                                            <span style="padding-right: 10px;">{{ getValueCell(option.id) }}</span> |
                                            <span style="padding-left: 10px;">{{option.titulo}}</span>
                                        </mat-option>
                                        }
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-4">
                        <mat-form-field class="full-width">
                            <mat-label align="end">Valor</mat-label>
                            <input matInput type="number" [value]="liberacaoProvaForm.valor"
                                [(ngModel)]="liberacaoProvaForm.valor" style="width: 100%;" [disabled]="view">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-4">
                        <mat-form-field class="full-width" style="width: 75%!important;">
                            <mat-label align="end">Tempo de execução (em minutos)</mat-label>
                            <input matInput type="number" [value]="liberacaoProvaForm.tempo_execucao"
                                [(ngModel)]="liberacaoProvaForm.tempo_execucao" style="width: 100%;" [disabled]="view">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-4">
                        <mat-form-field class="full-width" style="width: 95%!important;" *ngIf="view" >
                            <mat-label align="end">Periodo de Liberação</mat-label>
                            <input matInput type="text" [value]="periodo_liberacao"
                                [disabled]="view">
                        </mat-form-field>

                        <mat-form-field class="full-width"  *ngIf="!view">
                            <mat-label align="end">Periodo de Liberação</mat-label>
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Data Inicial"
                                    [(ngModel)]="liberacaoProvaForm.expiracao.start">
                                <input matEndDate formControlName="end" placeholder="Data Final"
                                    [(ngModel)]="liberacaoProvaForm.expiracao.end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>

                            @if (range.controls.start.hasError('matStartDateInvalid')) {
                            <mat-error>Invalid start date</mat-error>
                            }
                            @if (range.controls.end.hasError('matEndDateInvalid')) {
                            <mat-error>Invalid end date</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <hr>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">
                        <mat-icon class="tab-icon">checkbook</mat-icon>
                        Turmas Liberadas
                    </ng-template>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-12">
                                        <div class="ng-autocomplete"
                                            style="width: 95%!important; margin-bottom: 25px;padding-top: 10px;">
                                            <button mat-button (click)="adicionarTurma()" type="button" class="" *ngIf="!view">
                                                <mat-icon>add_circle</mat-icon>
                                                Adicionar turma
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-12">

                                        <div class="example-container mat-elevation-z8">
                                            <button (click)="addItemTurma()" id="btnFilterTurma"
                                                style="display: none;">filter</button>

                                            <mat-table #table [dataSource]="dataSourceTurmas">

                                                <!-- Position Column -->
                                                <ng-container matColumnDef="id">
                                                    <mat-header-cell *matHeaderCellDef style="width:80px"> Código
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" style="width:80px"> {{
                                                        getValueCell(element.id) }} </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="nome">
                                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                    <mat-cell *matCellDef="let row;">
                                                        <button mat-icon-button (click)="removeRowTurma(row.id)" *ngIf="!view">
                                                            <mat-icon color="warn">delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">
                        <mat-icon class="tab-icon">school</mat-icon>
                        Alunos Liberados
                    </ng-template>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-12">
                                <div class="ng-autocomplete"
                                    style="width: 95%!important; margin-bottom: 25px;padding-top: 10px;">
                                    <button mat-button (click)="adicionarAluno()" type="button" class="" *ngIf="!view">
                                        <mat-icon>add_circle</mat-icon>
                                        Adicionar Aluno
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-12">

                                        <div class="example-container mat-elevation-z8">
                                            <button (click)="addItemAluno()" id="btnFilterAluno"
                                                style="display: none;">filter</button>

                                            <mat-table #table [dataSource]="dataSourceAlunos">

                                                <!-- Position Column -->
                                                <ng-container matColumnDef="id">
                                                    <mat-header-cell *matHeaderCellDef style="width:80px"> Código
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" style="width:80px"> {{
                                                        getValueCell(element.id) }} </mat-cell>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="nome">
                                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                    <mat-cell *matCellDef="let row;">
                                                        <button mat-icon-button (click)="removeRowAluno(row.id)" *ngIf="!view">
                                                            <mat-icon color="warn">delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                            </mat-table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </app-card>
    </div>
</div>