@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


label {
  color: #262b31 !important;
  font-family: inherit;
  font-weight: bold;
}

.area_botao {
  border-top: 1px solid #EEF2F6 !important;
  padding-top: 10px;
}

.break-line {
  white-space: pre-wrap;
}

.header {
  color: #FFFFFF;
}

.header mat-icon {
  margin-top: 13px;
}

.mat-dialog-footer {
  position: absolute;
  height: 52px;
  text-align: right;
  background: #8F9FAC;
  padding: 8px;
  padding-right: 36px;
  width: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 400px !important;
}

.ck-placeholder {
  display: none;
}

.ck-editor__editable_inline {
  width: 400px;
}

.ck-editor__editable {
  width: 500px;
}

.mat-label {
  font-weight: bold;
}

.tab-icon {
  margin-right: 8px;
}

.conteudo_tab {
  margin-top: 25px;
}


.btn {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: #D3EAFD;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  margin-left: 12px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #D3EAFD;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #D3EAFD;
  font-size: 18px;
  font-weight: 100;
}

.menu-icon {
  border: 0px;
}


.itemMenu {
  display: flex;
  align-content: center;
}

.iconeMenu {
  display: flex;
  align-self: center;
  color: #f07b11;
}

.tamanhoIcone {
  width: 23px;
  height: 20px;
  padding-left: 2px;
}

.fixed-right {
  position: fixed;
  right: 3%;
  margin-right: 20px;
}

.categoria-margin {
  margin: 0 12px;
}

.mat-optgroup {
  width: 2000px !important;
  background-color: red !important;
  font-size: 10px !important;
}

.row {
  --bs-gutter-x: -0.5rem;
}

.categoria-container {
  width: 45%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.categoria-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.categoria-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 56px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.categoria-box:last-child {
  border: none;
}

.categoria-list.cdk-drop-list-dragging .categoria-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.parent_name {
  font-size: 9px;
  position: relative;
  top: -16px;
    left: 57px;
}

.quantidade_categoria {
  float:right;
}

.categoria-box-name {
  float: left;
  position: absolute;
}

.table_categoria {
  width: 98%;
}

.mat-table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: left;
  padding: 8px;
  box-sizing: border-box;
  white-space: nowrap;
}

.column-id {
  flex: 0 0 50px;
}

.column-name {
  flex: 0 0 200px;
}

.column-age {
  flex: 0 0 150px;
}

.mat-row,
.mat-header-row {
  display: flex;
}

.mat-cell,
.mat-header-cell {
  display: flex;
  align-items: center;
}