<form [formGroup]="menusForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="Menus">
                <app-breadcrumb></app-breadcrumb>
                <div style="width: 100%; float: right; text-align: right;">
                    <button mat-button class="btn btn-three"><mat-icon
                            class="tab-icon">keyboard_return</mat-icon>Voltar</button>
                    <button mat-button class="btn btn-three"><mat-icon
                            class="tab-icon">task_alt</mat-icon>Salvar</button>
                </div>
                <br><br>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating mb-12">
                                    <mat-form-field class="full-width" style="width: 100%!important;">
                                        <mat-label align="end">Título</mat-label>
                                        <input matInput type="text" [value]="" formControlName="titulo">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-floating mb-2">
                                    <mat-form-field>
                                        <mat-label>Classe</mat-label>
                                        <mat-select name="food" formControlName="classe">
                                            @for (classe of classeMenu; track classe) {
                                            <mat-option [value]="classe.value">{{classe.viewValue}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating mb-2">
                                    <mat-form-field class="form-field">
                                        <mat-label>Ordem</mat-label>
                                        <input matInput type="number" formControlName="ordem">
                                        @if (value) {
                                        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-floating mb-8">
                                    <mat-form-field class="full-width" style="width: 100%!important;">
                                        <mat-label align="end">Link</mat-label>
                                        <input matInput type="text" [value]="" formControlName="link">
                                        @if (value) {
                                        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-12">
                            <div class="ng-autocomplete"
                                style="width: 95%!important; margin-bottom: 25px;padding-top: 10px;">
                                <button mat-button type="button" class="" (click)="addSubmenu()">
                                    <mat-icon>add_circle</mat-icon>
                                    Adicionar Submenu (2ª nível - Opcional)
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--
                        <mat-tab-group [(selectedIndex)]="selectedTabIndex" cdkDropList
                            cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
                            cdkDropListElementContainer=".mat-mdc-tab-labels" class="custom-tab-group"
                            animationDuration="0">
                    -->
                    <mat-tab-group [(selectedIndex)]="selectedTabIndex" >
                            <mat-tab [label]="submenus[i]" *ngFor="let submenu of submenusFormGroups; let i = index">
                                <ng-template mat-tab-label>
                                    <!--
                                    <button mat-icon-button color="warn" class="icon-button-small"
                                        aria-label="large icon" (click)="removeSubmenu(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    -->
                                    <span cdkDragPreviewClass="drag-tabs-preview" style="float: left;"
                                        cdkDragRootElement=".mat-mdc-tab">{{submenus[i]}}
                                    </span>
                                </ng-template>

                                <div class="row" style="padding: 15px; margin-right: 0px!important;"
                                    [formGroup]="submenu">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-12">
                                                    <mat-form-field class="full-width" style="width: 100%!important;">
                                                        <mat-label align="end">Título</mat-label>
                                                        <input matInput type="text" [value]="" formControlName="titulo"
                                                            (input)="preencherTituloSubmenu(i, $event)">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-floating mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Tipo</mat-label>
                                                        <mat-select formControlName="tipo">
                                                            @for (tipo of tipoMenu; track tipo) {
                                                            <mat-option
                                                                [value]="tipo.value">{{tipo.viewValue}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-floating mb-2">
                                                    <mat-form-field class="form-field">
                                                        <mat-label>Ordem</mat-label>
                                                        <input matInput type="number" formControlName="ordem">
                                                        @if (value) {
                                                        <button matSuffix mat-icon-button aria-label="Clear"
                                                            (click)="value=''">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                        }
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-floating mb-8">
                                                    <mat-form-field class="full-width" style="width: 100%!important;">
                                                        <mat-label align="end">Link</mat-label>
                                                        <input matInput type="text" [value]="" formControlName="link">
                                                        @if (value) {
                                                        <button matSuffix mat-icon-button aria-label="Clear"
                                                            (click)="value=''">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                        }
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>Itens do submenu</h4>
                                    <div class="form-floating mb-12">
                                        <div class="ng-autocomplete"
                                            style="width: 95%!important; margin-bottom: 25px;padding-top: 10px;">
                                            <button mat-button type="button" class="" (click)="addSubmenuItem(i)">
                                                <mat-icon>add_circle</mat-icon>
                                                Adicionar Submenu Item (3ª nível - Opcional)
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-floating mb-12" *ngIf="getSubmenuItensFormGroups(i).length">
                                        <div class="boundary" >
                                            <div class="example-list">
                                                <div class="action-buttons" style="width: 100%; text-align: right;">
                                                    <button mat-button (click)="accordion().openAll()">Expandir
                                                        Tudo</button>
                                                    <button mat-button (click)="accordion().closeAll()">Fechar
                                                        Tudo</button>
                                                </div>

                                                <div>
                                                    <mat-accordion class="headers-align" multi  cdkDropList (cdkDropListDropped)="dropAccordion(i, $event)">
                                                        <mat-expansion-panel cdkDrag [expanded]="step() === indiceItem" (opened)="setStep(indiceItem)"  hideToggle 
                                                            *ngFor="let submenuItens of getSubmenuItensFormGroups(i); let indiceItem = index">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-description>
                                                                    Item de Submenu {{ i+1 }}.{{ indiceItem+1 }}
                                                                  </mat-panel-description>
                                                            </mat-expansion-panel-header>
                                                            <div [formGroup]="submenuItens">
                                                                <div class="form-group">
                                                                    <label for="titulo">Título</label>
                                                                    <input type="text" id="titulo" formControlName="titulo">
                                                                    <span class="help-block"
                                                                        *ngIf="!submenuItens.get('titulo').valid&&submenuItens.get('titulo').touched">
                                                                        <span
                                                                            *ngIf="submenuItens.get('titulo').errors['nameIsForbidden']">name
                                                                            is invalid</span>
                                                                        <span
                                                                            *ngIf="submenuItens.get('titulo').errors['required']">field
                                                                            is required</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</form>