.header {
    color: #FFFFFF;
}

.header mat-icon {
        margin-top: 13px;
}

.mat-dialog-footer {
    position: absolute;
    /* height: 52px; */
    text-align: right;
    background: #8F9FAC;
    padding: 8px;
    padding-right: 36px;
    width: 100%;
}


:host ::ng-deep .ck-editor__editable_inline {
    min-height: 350px !important;
}

.ck-placeholder {
    display: none;
}

.ck-editor__editable_inline {
    width: 350px;
}

.ck-editor__editable {
    width: 480px;
}
