<!--
<gui-grid  [columns]="columns" [source]="source" [cellEditing]="true" [localization]="localization" [loading]="loading" [paging]="paging"
[infoPanel]="infoPanel" [virtualScroll]="true" [sorting]="sorting" [searching]="searching" (sourceEdited)="afterEditCell($event)"></gui-grid>
          (sourceEdited)="afterEditCell($event)"
-->

<gui-grid #grid id="agile-grid" [columns]="columns" [theme]="'generic'" [source]="source" [sorting]="sorting"
	[paging]="paging" [columnMenu]="columnMenu" [verticalGrid]="true" [horizontalGrid]="true"
	[cellEditing]="cellEditing" [rowHeight]="50" [loading]="loading" [localization]="localization"
	[searching]="searching" [virtualScroll]="true" (sourceEdited)="afterEditCell($event)" [infoPanel]="infoPanel">

	<gui-grid-column header="{{ column.header }}" field="{{ column.field }}" width="{{ column.width??'100%' }}"
		type="string" view="text" [cellEditing]="true" *ngFor="let column of columns" [matcher]="columnMatcher">
		<ng-template let-value="value" let-item="item" let-index="index">
			{{ getValue(index, value, item, column.field) }}
		</ng-template>
	</gui-grid-column>

	<gui-grid-column header="Ações" [cellEditing]="false" [sorting]="false" width="120" *ngIf="actions?.length > 0">
		<ng-template let-value="value" let-item="item">
			<button style="border: 0 !important; background-color: transparent;" class="grid-actions" (click)="acao(action.click, item)" [disabled]="action.disabled(item)??'false'" [hidden]="action.hidden(item)??false" *ngFor="let action of actions; index as i">
				<mat-icon style="font-size: 20px;">{{ action.icon }}</mat-icon>
			</button>

			<!--


			<span>
				<button mat-icon-button *ngFor="let action of actions; index as i" (click)="acao(action.click, item)"><mat-icon>{{ action.icon }}</mat-icon></button>
			</span>

			<button mat-icon-button [matMenuTriggerFor]="menu" style="background: transparent;" *ngIf="actionMenu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="acao(action.click, item)" [disabled]="action.disabled(item)??'false'"
					[hidden]="action.hidden(item)??false" *ngFor="let action of actions; index as i">
					<mat-icon>{{ action.icon }}</mat-icon>
					<span>{{ action.label }}</span>
				</button>
			</mat-menu>
-->
		</ng-template>
	</gui-grid-column>

</gui-grid>