<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <div class="detail-box">
            <div class="heading_container">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        <div class="col-md-10">
                            <h5><small>{{ getValueCell(_avaliacao.id) }} - {{ _avaliacao.descricao }}</small></h5>
                        </div>
                    </div>
                    <div class="row" *ngIf="(avaliacao_iniciadaObs | async) && !(carregandoObs | async)">
                        <div class="col-md-10 col-sm-10">
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <small>
                                <div id="app">
                                    <div class="base-timer">
                                        <svg class="base-timer__svg" viewBox="0 0 100 100"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g class="base-timer__circle">
                                                <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45">
                                                </circle>
                                                <path id="base-timer-path-remaining" stroke-dasharray="283"
                                                    class="base-timer__path-remaining ${this.remainingPathColor}" d="
                                                M 50, 50
                                                m -45, 0
                                                a 45,45 0 1,0 90,0
                                                a 45,45 0 1,0 -90,0
                                              "></path>
                                            </g>
                                        </svg>
                                        <span id="base-timer-label" class="base-timer__label">{{
                                            formatTime(this.timeLeft) }}</span>
                                    </div>
                                </div>
                            </small>
                            <button mat-stroked-button (click)="finalizarAvaliacao()"
                                style="position: absolute; top: 50px; background: #FFFFFF;" class="border-green"
                                id="btn-finalizar">Finalizar Avaliação</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row" *ngIf="(carregandoObs | async)">
                        <div class="col-md-12 col-sm-12 ">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>
                    <div class="row" *ngIf="!(avaliacao_iniciadaObs | async) && !(carregandoObs | async)">
                        <div class="col-md-12 col-sm-12 ">
                            Prezado(a) aluno(a), <br><br>
                            <p>➡️ A prova tem uma duração máxima de {{ timeLeft/60 }} minutos e composta por
                                {{_avaliacao?.quantidade_total_questoes}} questões. </p>
                            <!--
                            <p>➡️ Você terá 3 (três) tentativas gratuitas para alcançar a média sendo igual ou superior a 70 pontos. </p>
                            -->
                            <p>➡️ Ao selecionar todas as alternativas nas {{_avaliacao?.quantidade_total_questoes}}
                                questões, clique em "Encerrar", para o sistema corrigir sua avaliação. </p>
                            <p><br><br>Desejamos uma ótima avaliação. </p>
                        </div>
                    </div>

                    <div class="row" *ngIf="!(avaliacao_iniciadaObs | async)"
                        style="margin-top: 40px; text-align: center; width: 100%;;">
                        <div class="col-md-12 col-sm-12" *ngIf="!(carregandoObs | async)">
                            <button mat-stroked-button (click)="iniciarAvaliacao()">Iniciar Avaliação</button>
                            <button mat-stroked-button [routerLink]="['/areaAluno']">Voltar</button>
                        </div>
                    </div>
                    <ng-container *ngIf="avaliacao_iniciadaObs | async">
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 ">
                                <br><br>
                                <mat-horizontal-stepper [linear]="false" #stepper>
                                    <mat-step *ngFor="let questao of questoesObs | async; let i = index;"
                                        completed="false">
                                        <form>
                                            <ng-template matStepLabel>
                                                <mat-icon class="tab-icon" id="respondido_{{questao.id}}" style="visibility: hidden;">check</mat-icon>
                                            </ng-template>
                                            <div class="x_panel tile questao_ul" style=" margin-top: 20px;">
                                                <ul  style="border: 1px solid cadetblue; ">
                                                    <li> ➡️ <span style="padding-left: 10px;">{{ i + 1 }} ª Questão</span></li>
                                                </ul>
                                                <div
                                                    style="font-weight: bold; display: flex; overflow: auto; padding: 12px;">
                                                    <div [innerHTML]="getHtml(questao.enunciado, 'enunciado_' + i)" id="enunciado_{{i}}"></div>
                                                </div>
                                                <hr>
                                                <div class="alternativas">
                                                    <form class="example-form" ngNativeValidate>
                                                        <mat-radio-group aria-labelledby="example-radio-group-label" (change)="alternativaMarcada(questao, $event)" 
                                                            class="example-radio-group">
                                                            @for (alternativa of questao.alternativas; let j = $index; track alternativa) {
                                                                <mat-radio-button class="example-radio-button" [value]="alternativa.id">
                                                                    <div [innerHTML]="getHtml(alternativa.alternativa, 'alternativa_' + j)"  id="alternativa_{{j}}"></div>
                                                                </mat-radio-button>
                                                            }
                                                        </mat-radio-group>
                                                    </form>
                                                </div>
                                            </div>
                                            <div>
                                                <button mat-button matStepperPrevious *ngIf="i != 0">Anterior</button>
                                                <button mat-button matStepperNext *ngIf="(_avaliacao?.quantidade_total_questoes - 1) != i">Próximo</button>
                                            </div>
                                        </form>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


        </div>
    </div>
</div>