<div class="col-12">
    <div class="d-flex flex-column">
        <a href="#" class="h4 mb-2" style="color: #2A3A54; font-weight: bold;">Romilda Alves
            Explica</a>
        <p class="fs-5 mb-0">
            <mat-form-field style="width: 100%;">
                <mat-label>Selecione um Imposto</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                    @for (imposto of impostos; track imposto) {
                    <mat-option [value]="imposto.value">{{imposto.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </p>
        <hr>
    </div>
</div>
<div class="col-12">
    <div class="row g-4 align-items-center">
        <div class="col-12">
            <div class="features-content d-flex flex-column">
                <span class="h3">REFORMA TRIBUTÁRIA</span>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">Legislação</span>
                </div>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">Calculadoras e simulações</span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="features-content d-flex flex-column">
                <span class="h3">CURSOS</span>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">Telepresencial</span>
                </div>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">Videoaulas</span>
                </div>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">Presenciais</span>
                </div>
                <div aria-hidden="true" style="padding: 10px;">
                    <img src="/assets/site-layout/images/seta.png" style="width:16px">
                    <span style="padding-left: 15px;">In Company</span>
                </div>
            </div>
        </div>
    </div>
</div>