@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


ol.collection {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* 2 Column Card Layout */
@media screen and (max-width: 736px) {
  .collection-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }

  .item {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 10px;
  }

  /* Don't display the first item, since it is used to display the header for tabular layouts*/
  .collection-container>li:first-child {
      display: none;
  }

  .attribute::before {
      content: attr(data-name);
  }

  /* Attribute name for first column, and attribute value for second column. */
  .attribute {
      display: grid;
      grid-template-columns: minmax(9em, 30%) -1fr;
  }

  .attribute-titulo {
    font-weight: bold;
  }

}

.attribute-acoes {
  text-align: center;
}

/* 1 Column Card Layout */
@media screen and (max-width:580px) {
  .collection-container {
      display: grid;
      grid-template-columns: 1fr;
  }
}

/* Tabular Layout */
@media screen and (min-width: 737px) {
  /* The maximum column width, that can wrap */
  .item-container {
      display: grid;
      grid-template-columns: 6em 12fr 5fr;
  }

  .attribute-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), 1fr));
  }

  /* Definition of wrapping column width for attribute groups. */
  .part-information {
      --column-width-min: 10em;
  }

  .part-id {
      --column-width-min: 10em;
  }

  .vendor-information {
      --column-width-min: 8em;
  }

  .quantity {
      --column-width-min: 5em;
  }

  .cost {
      --column-width-min: 5em;
  }

  .duty {
      --column-width-min: 5em;
  }

  .freight {
      --column-width-min: 5em;
  }

  .collection {
      border-top: 1px solid gray;
  }

  /* In order to maximize row lines, only display one line for a cell */
  .attribute {
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }

  .collection-container>.item-container:first-child {
      background-color: #D3EAFD;
      font-weight: bold;

  }

  .item-container:hover {
      background-color: rgb(200, 227, 252);
  }

  /* Center header labels */
  .collection-container>.item-container:first-child .attribute {
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: initial;
      overflow: auto;
      white-space: normal;
  }
}


.btn {
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: #D3EAFD;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #D3EAFD;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: #D3EAFD;
    font-size: 18px;
    font-weight: 100;
  }
  
  .menu-icon {
    border: 0px;
  }


  .itemMenu {
    display: flex;
    align-content: center;
  }
  
  .iconeMenu {
    display: flex;
    align-self: center;
    color: #f07b11;
  }
  
  .tamanhoIcone {
    width: 23px;
    height: 20px;
    padding-left: 2px;
  }
  
  .fixed-right {
    position: fixed;
    right: 3%;
    margin-right: 20px;
  }