<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Cadastrar Prova">
            <app-breadcrumb></app-breadcrumb>
            <div style="width: 100%; float: right; text-align: right;">
                <button mat-button class="btn btn-three" (click)="voltar()"><mat-icon
                        class="tab-icon">keyboard_return</mat-icon>Voltar</button>
                <button mat-button class="btn btn-three" (click)="salvar()" *ngIf="!view"><mat-icon
                        class="tab-icon">task_alt</mat-icon>Salvar</button>
            </div>
            <br><br>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-12">
                                <mat-form-field class="full-width" style="width: 95%!important;">
                                    <mat-label align="end">Título</mat-label>
                                    <input matInput type="text" [value]="provaForm.titulo"
                                        [(ngModel)]="provaForm.titulo" [disabled]="view">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <mat-form-field class="full-width" style="width: 95%!important;" *ngIf="view" >
                                    <mat-label align="end">Prova</mat-label>
                                    <input matInput type="text" [value]="provaForm.tipo_prova"
                                        [disabled]="view">
                                </mat-form-field>

                                <mat-form-field class="full-width" *ngIf="!view" >
                                    <mat-label align="end">Tipo de Prova</mat-label>
                                    <mat-select [(ngModel)]="provaForm.tipo_prova">
                                        <mat-option value="">Selecione</mat-option>
                                        <mat-option value="DINAMICA">Dinâmica</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <mat-form-field class="full-width">
                                    <mat-label align="end">Número de Questões</mat-label>
                                    <input matInput type="text" [value]="provaForm.total_questoes"
                                        [(ngModel)]="provaForm.total_questoes" disabled="disabled">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <mat-checkbox class="categoria-margin" [checked]="provaForm.ativo"
                                    [(ngModel)]="provaForm.ativo" [disabled]="view">Ativo</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <mat-tab-group>
                        <mat-tab [disabled]='!isTabCategoriaActive()'>
                            <ng-template mat-tab-label class="mat-tab-label">
                                <mat-icon class="tab-icon">category</mat-icon>
                                Categorias
                            </ng-template>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-floating mb-12">
                                                <div class="ng-autocomplete"
                                                    style="width: 95%!important; margin-bottom: 25px;padding-top: 10px;">
                                                    <button mat-button (click)="adicionarCategoria()" type="button" class="" *ngIf="!view">
                                                        <mat-icon>add_circle</mat-icon>
                                                        Adicionar Categoria
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-floating mb-12">
        
                                                <div class="example-container mat-elevation-z8">
                                                    <button (click)="addItemCategoria()" id="btnFilterCategoria"
                                                        style="display: none;">filter</button>
        
                                                    <mat-table #table [dataSource]="dataSourceCategorias">
        
                                                        <!-- Position Column -->
                                                        <ng-container matColumnDef="id">
                                                            <mat-header-cell *matHeaderCellDef style="width:80px"> Código
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element" style="width:80px"> {{
                                                                getValueCell(element.id) }} </mat-cell>
                                                        </ng-container>
        
                                                        <!-- Name Column -->
                                                        <ng-container matColumnDef="nome">
                                                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                                            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                                                        </ng-container>

                                                        <ng-container matColumnDef="qtd_questoes">
                                                            <mat-header-cell *matHeaderCellDef> Quantidade de Questões </mat-header-cell>
                                                            <mat-cell *matCellDef="let element; let idx = $index">
                                                                <input matInput type="number" style="width: 100px;" [disabled]="view" [value]="element.quantidade_questoes" [(ngModel)]="element.quantidade_questoes" (change)="somaTotalQuestoes()">
                                                            </mat-cell>
                                                        </ng-container>
         
                                                        <ng-container matColumnDef="actions">
                                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                            <mat-cell *matCellDef="let row;">
                                                                <button mat-icon-button (click)="removeRowCategoria(row.id)" *ngIf="!view">
                                                                    <mat-icon color="warn">delete</mat-icon>
                                                                </button>
                                                            </mat-cell>
                                                        </ng-container>
        
                                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                                    </mat-table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--

                            <br><br>

                            @for (item of categorias; track item; let idx = $index) {
                            <div class="categoria-box">
                                @if (item.parent) {
                                <span class="parent_name">
                                    {{item.parent}}
                                </span>
                                }
                                <span class="categoria-box-name" style="width: 95%;">
                                    <mat-checkbox class="categoria-margin checkboxCategoriasSelecionadas" [checked]="isChecked(item.id)"   (change)="update($event.checked, item, idx)">{{item.id}} - {{item.nome}}</mat-checkbox>
                                    <span class="quantidade_categoria">
                                        <input matInput type="number" style="width: 60px;"  [value]="provaForm.quantidade_questoes[idx]" [(ngModel)]="provaForm.quantidade_questoes[idx]" (change)="somaTotalQuestoes()">
                                    </span>
                                </span>
                            </div>
                            }
-->
                            <!--
                            <div cdkDropListGroup style="text-align: center;" *ngIf="isTabCategoriaActive()">
                                <div class="categoria-container">
                                    <h6>Categorias</h6>

                                    <div cdkDropList [cdkDropListData]="categorias" class="categoria-list" (cdkDropListDropped)="drop($event)" >
                                        @for (item of categorias; track item) {
                                        <div class="categoria-box" cdkDrag>
                                            <span class="categoria-box-name" style="position: absolute;">{{item.id}} - {{item.nome}}</span>
                                        </div>
                                        }
                                    </div>
                                </div>

                                <div class="categoria-container" >
                                    <h6>Categorias Selecionadas e Totais de Questões</h6>

                                    <div cdkDropList [cdkDropListData]="categorias_selecionadas" class="categoria-list" (cdkDropListDropped)="drop($event)">
                                        @for (item of categorias_selecionadas; track item; let idx = $index) {
                                        <div class="categoria-box" cdkDrag>
                                            <span class="categoria-box-name">
                                                {{item.id}} - {{item.nome}} 
                                            </span>
                                            <span class="quantidade_categoria">
                                                <input matInput type="number" style="width: 60px;" [value]="provaForm.quantidade_questoes[idx]" [(ngModel)]="provaForm.quantidade_questoes[idx]" (change)="somaTotalQuestoes()">
                                            </span>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            -->
                        </mat-tab>
                        <mat-tab [disabled]='!isTabQuestaoActive()'>
                            <ng-template mat-tab-label class="mat-tab-label">
                                <mat-icon class="tab-icon">cast_for_education</mat-icon>
                                Questões (Somente para provas fixas)
                            </ng-template>
                            <br><br>
                            <div class="row" *ngIf="isTabCategoriaActive()">
                                <div class="col-md-12">
                                    <div class="form-floating mb-12">

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </app-card>
    </div>
</div>