.header {
    color: #FFFFFF;
}

.header mat-icon {
        margin-top: 13px;
}

.mat-dialog-footer {
    position: absolute;
    /* height: 52px; */
    text-align: right;
    background: #8F9FAC;
    padding: 8px;
    padding-right: 36px;
    width: 100%;
}