<p class="h3">Atualizações </p>
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Federal</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">ICMS</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">ISS</button>
</div>

<div id="London" class="tabcontent">
    <table>
        <tbody>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado <a href="link_testar">acordo entre Brasil e Uruguai</a> para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="Paris" class="tabcontent">
    <table>
        <tbody>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="Tokyo" class="tabcontent">
    <table>
        <tbody>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
            <tr>
                <td class="last-news-date"><span class="last-news-date-normal">14/03<br>08:12</span><span
                        class="last-news-date-mobile">14/03 - 08:12</span></td>
                <td class="last-news-content">
                    <div class="last-news-title">Promugado acordo entre Brasil e Uruguai para bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                        bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                    <div class="last-news-descrition">Decreto 12404 - 14/03/2025</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>