/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EEEDF1;
}

/* Create an active/current tablink class */
.tab button.active {
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  font-family: 'Atlassian Sans';
  text-align: justify;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #A9C92F;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #A9C92F;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

a {
  text-decoration: none;
  color: #3d547a;
  font-weight: 700;
  vertical-align: top;
}